---
const candidateLang = Astro.url.pathname.split('/')[1];
const lang = candidateLang === 'fr' ? 'fr' : 'en';

const APP_TITLE: Record<'en' | 'fr', string> = {
  en: "Runaway - Know when you're free",
  fr: 'Runaway - Préparez votre liberté',
};
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>{APP_TITLE[lang]}</title>
    <script is:inline defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script src="../main.tsx"></script>
  </body>
</html>
