---
const candidateLang = Astro.url.pathname.split('/')[1];
const lang = candidateLang === 'fr' ? 'fr' : 'en';
const isDev = import.meta.env.DEV;

const APP_TITLE: Record<'en' | 'fr', string> = {
  en: "Runaway - Know when you're free",
  fr: 'Runaway - Préparez votre liberté',
};
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>{APP_TITLE[lang]}</title>
    <script is:inline defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <div id="root"></div>
    {
      isDev && (
        <script is:inline type="module">
          import RefreshRuntime from '/@react-refresh';

          RefreshRuntime.injectIntoGlobalHook(window);
          window.$RefreshReg$ = () => {};
          window.$RefreshSig$ = () => (type) => type;
          window.__vite_plugin_react_preamble_installed__ = true;
        </script>
      )
    }
    <script src="../main.tsx"></script>
  </body>
</html>
